*#
*~
/TAGS
config/database.yml
config/memcached.yml
config/newrelic.yml
config/mongrel_cluster.yml
config/db_load_passwd
config/dbpasswd
config/passwd
config/svnpasswd
config/queues.cfg
coverage/
log
public/_assets
public/assets
public/plugin_assets
public/media/podcasts
public/podcasts
public/printed
public/faq/ja/regex_tags.js
public/faq/en/regex_tags.js
public/javascripts/*_packaged.js
public/stylesheets/*_packaged.css
test/mocks/test/assets1
test/mocks/test/assets2
test/coverage
test/reports
spec/reports
script/loganalyzer
test/selenium/screenshots
tmp
.autotest
.DS_Store
# Ignore the db dir so the dictionary files don't show up
db/
db/development_structure.sql
config/environments/development_overrides.rb
*.swp
.rake_tasks
.project
.rvmrc
.git_keep_branches
.tags
.gemtags
.tags_sorted_by_file
*.tmproj
*flymake.rb
*flymake.erb
vendor/plugins/rails-dev-boost
*.orig
*.bak
.settings
.project
.tags
.gemtags
iknowgems.gems
vendor/bundle
.bundle
iknowgems.gems
.bundle
.bin
.sass-cache
.idea

